<link rel="stylesheet" href="/css/style.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bold text-primary" href="/"><img src="/img/OnlyFreds_logo.png" alt="" width="70"> OnlyFreds</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if (user && user.role === 'admin') { %>
            <li class="nav-item">
              <a class="nav-link <%= currentPath === '/dashboard/admin' ? 'active' : '' %>" href="/dashboard/admin">Admin Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= currentPath.startsWith('/dashboard/admin/products') ? 'active' : '' %>" href="/dashboard/admin/products">Manage Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= currentPath.startsWith('/dashboard/admin/categories') ? 'active' : '' %>" href="/dashboard/admin/categories">Manage Categories</a>
            </li>
              <li class="nav-item">
              <a class="nav-link <%= currentPath.startsWith('/dashboard/admin/orders') ? 'active' : '' %>" href="/dashboard/admin/orders">Manage Orders</a>
            </li>
        <% } else { %>
            <li class="nav-item">
              <a class="nav-link <%= currentPath === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= currentPath.startsWith('/products') ? 'active' : '' %>" href="/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= currentPath === '/about' ? 'active' : '' %>" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= currentPath === '/contact' ? 'active' : '' %>" href="/contact">Contact</a>
            </li>
        <% } %>
      </ul>

      <div class="d-flex">
        <% if (user) { %>
          <% if (user.role === "admin") {%>
            <a href="/dashboard/admin" class="btn btn-outline-light me-2"><%= user.name %> (Admin)</a>
          <% } else { %>
            <a href="/dashboard/customer" class="btn btn-outline-light me-2"><%= user.name %></a>
            <a class="btn btn-outline-light me-2" href="/cart">Cart 🛒</a>
          <% } %>
            
            <a href="/auth/logout" class="btn btn-danger">Logout</a>
        <% } else { %>
            <a href="/auth/login" class="btn btn-outline-light me-2">Login</a>
            <a href="/auth/register" class="btn btn-primary">Register</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>